# **Pre-processing**

---

## **Import Libraries & Data Loading**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os.path as osp

In [2]:
data_folder = osp.join('.', 'dataset')

In [3]:
humidity_df = pd.read_csv(osp.join(data_folder, 'humidity.csv'))
temp_df=pd.read_csv(osp.join(data_folder,'temperature.csv'))
pressure_df = pd.read_csv(osp.join(data_folder, 'pressure.csv'))
wind_direct_df = pd.read_csv(osp.join(data_folder, 'wind_direction.csv'))
wind_speed_df = pd.read_csv(osp.join(data_folder,'wind_speed.csv'))

In [4]:
weather_descript_df = pd.read_csv(osp.join(data_folder,'weather_description.csv'))

In [5]:
city_attri_df = pd.read_csv(osp.join(data_folder,'city_attributes.csv'))

## **Humidity**

In [6]:
humidity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  object
 1   Vancouver          43427 non-null  float64
 2   Portland           44804 non-null  float64
 3   San Francisco      44311 non-null  float64
 4   Seattle            44964 non-null  float64
 5   Los Angeles        45101 non-null  float64
 6   San Diego          44909 non-null  float64
 7   Las Vegas          44411 non-null  float64
 8   Phoenix            43945 non-null  float64
 9   Albuquerque        44543 non-null  float64
 10  Denver             43445 non-null  float64
 11  San Antonio        44689 non-null  float64
 12  Dallas             44934 non-null  float64
 13  Houston            45132 non-null  float64
 14  Kansas City        44741 non-null  float64
 15  Minneapolis        44743 non-null  float64
 16  Saint Louis        43964 non-null  float64
 17  Chicago            44144 non-null  float64
 18  Nashville          44686 non-null  float64
 19  Indianapolis       44558 non-null  float64
 20  Atlanta            44831 non-null  float64
 21  Detroit            44391 non-null  float64
 22  Jacksonville       45044 non-null  float64
 23  Charlotte          44664 non-null  float64
 24  Miami              44166 non-null  float64
 25  Pittsburgh         44731 non-null  float64
 26  Toronto            44525 non-null  float64
 27  Philadelphia       44629 non-null  float64
 28  New York           43629 non-null  float64
 29  Montreal           43557 non-null  float64
 30  Boston             44804 non-null  float64
 31  Beersheba          44394 non-null  float64
 32  Tel Aviv District  44140 non-null  float64
 33  Eilat              44283 non-null  float64
 34  Haifa              44435 non-null  float64
 35  Nahariyya          44436 non-null  float64
 36  Jerusalem          44347 non-null  float64
dtypes: float64(36), object(1)
memory usage: 12.8+ MB

In [ ]:
#date & time
humidity_df['datetime'] = pd.to_datetime(humidity_df['datetime'])
humidity_df['date'] = humidity_df['datetime'].dt.date
humidity_df['time'] = humidity_df['datetime'].dt.time

humidity_df.drop(columns=['datetime'], inplace=True)

cols = ['date', 'time'] + [col for col in humidity_df.columns if col not in ['date', 'time']]
humidity_df = humidity_df[cols]

In [8]:
humidity_df.head()

,date,time,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01,12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN
1,2012-10-01,13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,...,71.0,58.0,93.0,68.0,50.0,63.0,22.0,51.0,51.0,50.0
2,2012-10-01,14:00:00,76.0,80.0,87.0,80.0,88.0,81.0,21.0,23.0,...,70.0,57.0,91.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
3,2012-10-01,15:00:00,76.0,80.0,86.0,80.0,88.0,81.0,21.0,23.0,...,70.0,57.0,87.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
4,2012-10-01,16:00:00,77.0,80.0,85.0,79.0,88.0,81.0,21.0,23.0,...,69.0,57.0,84.0,68.0,52.0,62.0,22.0,51.0,51.0,50.0

## **Pressure**

In [9]:
pressure_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  object
 1   Vancouver          41019 non-null  float64
 2   Portland           45249 non-null  float64
 3   San Francisco      44438 non-null  float64
 4   Seattle            45240 non-null  float64
 5   Los Angeles        45001 non-null  float64
 6   San Diego          45078 non-null  float64
 7   Las Vegas          45165 non-null  float64
 8   Phoenix            44659 non-null  float64
 9   Albuquerque        44797 non-null  float64
 10  Denver             44710 non-null  float64
 11  San Antonio        45236 non-null  float64
 12  Dallas             45193 non-null  float64
 13  Houston            45244 non-null  float64
 14  Kansas City        45132 non-null  float64
 15  Minneapolis        45236 non-null  float64
 16  Saint Louis        45185 non-null  float64
 17  Chicago            44528 non-null  float64
 18  Nashville          45106 non-null  float64
 19  Indianapolis       44964 non-null  float64
 20  Atlanta            45204 non-null  float64
 21  Detroit            45248 non-null  float64
 22  Jacksonville       45238 non-null  float64
 23  Charlotte          45250 non-null  float64
 24  Miami              44459 non-null  float64
 25  Pittsburgh         45207 non-null  float64
 26  Toronto            45078 non-null  float64
 27  Philadelphia       45249 non-null  float64
 28  New York           44212 non-null  float64
 29  Montreal           44259 non-null  float64
 30  Boston             45246 non-null  float64
 31  Beersheba          44447 non-null  float64
 32  Tel Aviv District  44323 non-null  float64
 33  Eilat              44461 non-null  float64
 34  Haifa              44455 non-null  float64
 35  Nahariyya          44458 non-null  float64
 36  Jerusalem          44454 non-null  float64
dtypes: float64(36), object(1)
memory usage: 12.8+ MB

In [10]:
#date & time
pressure_df['datetime'] = pd.to_datetime(pressure_df['datetime'])
pressure_df['date'] = pressure_df['datetime'].dt.date
pressure_df['time'] = pressure_df['datetime'].dt.time

pressure_df.drop(columns=['datetime'], inplace=True)

cols = ['date', 'time'] + [col for col in pressure_df.columns if col not in ['date', 'time']]
pressure_df = pressure_df[cols]

## **Temperature**

In [11]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  object
 1   Vancouver          44458 non-null  float64
 2   Portland           45252 non-null  float64
 3   San Francisco      44460 non-null  float64
 4   Seattle            45250 non-null  float64
 5   Los Angeles        45250 non-null  float64
 6   San Diego          45252 non-null  float64
 7   Las Vegas          45252 non-null  float64
 8   Phoenix            45250 non-null  float64
 9   Albuquerque        45252 non-null  float64
 10  Denver             45252 non-null  float64
 11  San Antonio        45252 non-null  float64
 12  Dallas             45249 non-null  float64
 13  Houston            45250 non-null  float64
 14  Kansas City        45252 non-null  float64
 15  Minneapolis        45240 non-null  float64
 16  Saint Louis        45252 non-null  float64
 17  Chicago            45250 non-null  float64
 18  Nashville          45251 non-null  float64
 19  Indianapolis       45246 non-null  float64
 20  Atlanta            45247 non-null  float64
 21  Detroit            45252 non-null  float64
 22  Jacksonville       45252 non-null  float64
 23  Charlotte          45250 non-null  float64
 24  Miami              44448 non-null  float64
 25  Pittsburgh         45250 non-null  float64
 26  Toronto            45252 non-null  float64
 27  Philadelphia       45250 non-null  float64
 28  New York           44460 non-null  float64
 29  Montreal           45250 non-null  float64
 30  Boston             45250 non-null  float64
 31  Beersheba          44455 non-null  float64
 32  Tel Aviv District  44460 non-null  float64
 33  Eilat              44461 non-null  float64
 34  Haifa              44455 non-null  float64
 35  Nahariyya          44456 non-null  float64
 36  Jerusalem          44460 non-null  float64
dtypes: float64(36), object(1)
memory usage: 12.8+ MB

In [12]:
#date & time
temp_df['datetime'] = pd.to_datetime(temp_df['datetime'])
temp_df['date'] = temp_df['datetime'].dt.date
temp_df['time'] = temp_df['datetime'].dt.time

temp_df.drop(columns=['datetime'], inplace=True)

cols = ['date', 'time'] + [col for col in temp_df.columns if col not in ['date', 'time']]
temp_df = temp_df[cols]

## **Wind Direction**

In [15]:
wind_direct_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  object
 1   Vancouver          44458 non-null  float64
 2   Portland           45252 non-null  float64
 3   San Francisco      44459 non-null  float64
 4   Seattle            45252 non-null  float64
 5   Los Angeles        45252 non-null  float64
 6   San Diego          45252 non-null  float64
 7   Las Vegas          45248 non-null  float64
 8   Phoenix            45252 non-null  float64
 9   Albuquerque        45252 non-null  float64
 10  Denver             45252 non-null  float64
 11  San Antonio        45252 non-null  float64
 12  Dallas             45252 non-null  float64
 13  Houston            45251 non-null  float64
 14  Kansas City        45252 non-null  float64
 15  Minneapolis        45252 non-null  float64
 16  Saint Louis        45252 non-null  float64
 17  Chicago            45252 non-null  float64
 18  Nashville          45251 non-null  float64
 19  Indianapolis       45252 non-null  float64
 20  Atlanta            45252 non-null  float64
 21  Detroit            45252 non-null  float64
 22  Jacksonville       45248 non-null  float64
 23  Charlotte          45252 non-null  float64
 24  Miami              44458 non-null  float64
 25  Pittsburgh         45252 non-null  float64
 26  Toronto            45252 non-null  float64
 27  Philadelphia       45252 non-null  float64
 28  New York           44460 non-null  float64
 29  Montreal           45252 non-null  float64
 30  Boston             45252 non-null  float64
 31  Beersheba          44460 non-null  float64
 32  Tel Aviv District  44460 non-null  float64
 33  Eilat              44456 non-null  float64
 34  Haifa              44460 non-null  float64
 35  Nahariyya          44460 non-null  float64
 36  Jerusalem          44460 non-null  float64
dtypes: float64(36), object(1)
memory usage: 12.8+ MB

In [16]:
#date & time
wind_direct_df['datetime'] = pd.to_datetime(wind_direct_df['datetime'])
wind_direct_df['date'] = wind_direct_df['datetime'].dt.date
wind_direct_df['time'] = wind_direct_df['datetime'].dt.time

wind_direct_df.drop(columns=['datetime'], inplace=True)

cols = ['date', 'time'] + [col for col in wind_direct_df.columns if col not in ['date', 'time']]
wind_direct_df = wind_direct_df[cols]

## **Wind Speed**

In [17]:
wind_speed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  object
 1   Vancouver          44458 non-null  float64
 2   Portland           45252 non-null  float64
 3   San Francisco      44459 non-null  float64
 4   Seattle            45252 non-null  float64
 5   Los Angeles        45252 non-null  float64
 6   San Diego          45252 non-null  float64
 7   Las Vegas          45238 non-null  float64
 8   Phoenix            45251 non-null  float64
 9   Albuquerque        45249 non-null  float64
 10  Denver             45251 non-null  float64
 11  San Antonio        45252 non-null  float64
 12  Dallas             45251 non-null  float64
 13  Houston            45250 non-null  float64
 14  Kansas City        45252 non-null  float64
 15  Minneapolis        45250 non-null  float64
 16  Saint Louis        45252 non-null  float64
 17  Chicago            45252 non-null  float64
 18  Nashville          45250 non-null  float64
 19  Indianapolis       45252 non-null  float64
 20  Atlanta            45252 non-null  float64
 21  Detroit            45252 non-null  float64
 22  Jacksonville       45252 non-null  float64
 23  Charlotte          45251 non-null  float64
 24  Miami              44458 non-null  float64
 25  Pittsburgh         45252 non-null  float64
 26  Toronto            45252 non-null  float64
 27  Philadelphia       45251 non-null  float64
 28  New York           44460 non-null  float64
 29  Montreal           45252 non-null  float64
 30  Boston             45252 non-null  float64
 31  Beersheba          44460 non-null  float64
 32  Tel Aviv District  44459 non-null  float64
 33  Eilat              44461 non-null  float64
 34  Haifa              44458 non-null  float64
 35  Nahariyya          44459 non-null  float64
 36  Jerusalem          44459 non-null  float64
dtypes: float64(36), object(1)
memory usage: 12.8+ MB

In [18]:
#date & time
wind_speed_df['datetime'] = pd.to_datetime(wind_speed_df['datetime'])
wind_speed_df['date'] = wind_speed_df['datetime'].dt.date
wind_speed_df['time'] = wind_speed_df['datetime'].dt.time

wind_speed_df.drop(columns=['datetime'], inplace=True)

cols = ['date', 'time'] + [col for col in wind_speed_df.columns if col not in ['date', 'time']]
wind_speed_df = wind_speed_df[cols]